body{
	background-color: #FAFBFC;
	font-family: sans-serif;
}

#calculadora{
	background-color: white;
	margin-top: 10px;
}

#titulo{
	padding: 10px;
	color: white;
	background-color: #4B4744;
}

.mb{
	margin-bottom: 10px;
}

#tblAmort{
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}