@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 mt-3" id="calculadora">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center" id="titulo">Calculadora de préstamos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div id="formCalculadora" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 cotrol-label" for="txtCapital">Capital inicial:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="txtCapital" id="txtCapital" placeholder="Introduce el capital inicial">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 cotrol-label" for="txtTasa">Tasa (%):</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="txtTasa" id="txtTasa" placeholder="Introduce la tasa anual">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 cotrol-label" for="txtPlazo">Plazo:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="txtPlazo" id="txtPlazo" placeholder="Introuce el plazo">
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="frecuencia" value="Año">Años</label>
                            <label class="radio-inline"><input type="radio" name="frecuencia" value="Mes" checked>Meses</label>
                            <label class="radio-inline"><input type="radio" name="frecuencia" value="Dia">Dias</label>
                        </div>
                    </div>
                    <button class="col-xs-12 mb align-center btn btn-primary" id="btnCalcular">Calcular</button>



                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="resultado">

</div>